html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Volkorn", sans-serif;
  font-size: 22px;
  line-height: 28px;
  position: relative;
  overflow-x: hidden; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html, body, p, ul, li, h1, h2, h3, h4 {
  padding: 0;
  margin: 0; }

.container {
  max-width: 1920px;
  margin: 0 auto; }

.main {
  display: block; }

.h2-heading {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 90px; }

.h2-heading::before {
  content: "";
  width: 100px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: -140px;
  background-color: #0987e2; }

.h2-heading::after {
  content: "";
  width: 100px;
  height: 3px;
  position: absolute;
  top: 50%;
  right: -140px;
  background-color: #0987e2; }

img {
  max-width: 100%;
  height: auto; }

@media (max-width: 1350px) {
  body {
    font-size: 20px;
    line-height: 26px; }

  .h2-heading {
    margin-bottom: 60px; } }
@media (max-width: 1024px) {
  .h2-heading {
    margin-bottom: 50px; }

  .h2-heading::before {
    display: none; }

  .h2-heading::after {
    display: none; } }
@media (max-width: 600px) {
  .h2-heading {
    margin-bottom: 40px;
    font-size: 36px; } }
.header {
  min-height: 60px; }

@media (max-width: 1024px) {
  .header {
    min-height: 0; } }
.main-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 500;
  background: -webkit-gradient(linear, left top, right top, from(#0987e2), to(#43CBFF));
  background: linear-gradient(to right, #0987e2, #43CBFF); }
  .main-nav__list {
    max-width: 1800px;
    min-height: 60px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none; }
  .main-nav__logo {
    font-family: "Archivo Black", sans-serif;
    font-size: 34px;
    color: #f1364b; }
  .main-nav__logo span {
    font-family: "Monoton", cursive;
    font-size: 30px;
    color: #fff; }
  .main-nav__item {
    height: 30px;
    position: relative; }
  .main-nav__item:hover::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#43CBFF));
    background: linear-gradient(to right, #fff, #43CBFF);
    -webkit-animation: link-hover 1.5s ease infinite;
            animation: link-hover 1.5s ease infinite;
    -webkit-box-shadow: 0 0 1px #000;
            box-shadow: 0 0 1px #000; }
  .main-nav__item:first-child:hover::after {
    display: none; }
  .main-nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 2px 10px #000;
    line-height: 30px; }
  .main-nav__link:focus {
    outline: none;
    color: #add6f0; }
  .main-nav__link:active {
    text-decoration: none;
    border-bottom: none; }
  .main-nav__toggle {
    display: none; }

@media (max-width: 1350px) {
  .main-nav__link {
    font-size: 19px; } }
@media (max-width: 1024px) {
  .main-nav {
    height: 100vh;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(9, 135, 226, 0.8);
    -webkit-transition: all .6s ease-out;
    transition: all .6s ease-out; }
    .main-nav--hidden {
      height: 100px;
      background: rgba(9, 135, 226, 0); }
    .main-nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .main-nav__list--hidden {
        display: none; }
    .main-nav__item:not(:last-child) {
      margin-bottom: 10px; }
    .main-nav__item:first-child {
      margin-bottom: 40px; }
    .main-nav__item:not(:first-child):hover::after {
      display: none; }
    .main-nav__link:hover {
      color: #add6f0; }
    .main-nav__link:focus {
      outline: none;
      color: #add6f0; }
    .main-nav__toggle {
      width: 65px;
      height: 65px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      top: 30px;
      right: 220px;
      z-index: 1000;
      border: none;
      border-radius: 50%;
      background-color: #fff;
      -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
      cursor: pointer;
      -webkit-transition: all .4s ease-out;
      transition: all .4s ease-out; }
      .main-nav__toggle--menu-opened {
        -webkit-transform: translateX(190px);
                transform: translateX(190px); }
    .main-nav__toggle:focus {
      outline: none; }
    .main-nav__icon {
      position: relative; }
      .main-nav__icon, .main-nav__icon::before, .main-nav__icon::after {
        width: 30px;
        height: 2px;
        background-color: #0987e2;
        display: inline-block; }
      .main-nav__icon::before, .main-nav__icon::after {
        content: "";
        position: absolute;
        left: 0;
        -webkit-transition: all .2s;
        transition: all .2s; }
      .main-nav__icon::before {
        top: -10px; }
      .main-nav__icon::after {
        top: 10px; }
      .main-nav__icon--cross {
        background-color: transparent; }
      .main-nav__icon--cross::before {
        top: 0;
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg); }
      .main-nav__icon--cross::after {
        top: 0;
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg); } }
@media (max-width: 600px) {
  .main-nav__toggle {
    width: 60px;
    height: 60px;
    top: 15px; }
    .main-nav__toggle--menu-opened {
      -webkit-transform: translateX(200px);
              transform: translateX(200px); } }
@-webkit-keyframes link-hover {
  0% {
    width: 0;
    left: 0; }
  50% {
    width: 100%;
    left: 0; }
  100% {
    left: 100%;
    width: 0; } }
@keyframes link-hover {
  0% {
    width: 0;
    left: 0; }
  50% {
    width: 100%;
    left: 0; }
  100% {
    left: 100%;
    width: 0; } }
.main-screen {
  min-height: calc(100vh - 60px);
  margin-bottom: 170px;
  position: relative;
  overflow: hidden; }
  .main-screen::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background: -webkit-gradient(linear, left top, right bottom, from(transparent), to(rgba(67, 203, 255, 0.3))), url(img/bg.jpg) top left no-repeat;
    background: linear-gradient(to bottom right, transparent, rgba(67, 203, 255, 0.3)), url(img/bg.jpg) top left no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-animation: bg-scale 1.5s cubic-bezier(0, 0.5, 0, 1) forwards;
            animation: bg-scale 1.5s cubic-bezier(0, 0.5, 0, 1) forwards; }
  .main-screen__text {
    width: 100%;
    padding: 0 30px;
    position: absolute;
    bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 2px 10px #000;
    text-align: center;
    line-height: 1.2; }
  .main-screen__heading {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 66px;
    color: #43CBFF;
    opacity: 0;
    -webkit-animation: heading-movement 1.5s .4s ease-out forwards;
            animation: heading-movement 1.5s .4s ease-out forwards; }
  .main-screen__sub {
    margin-bottom: 30px;
    display: block;
    font-size: 52px;
    color: #fff;
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
    -webkit-animation: sub-movement 1.5s .05s ease-out forwards;
            animation: sub-movement 1.5s .05s ease-out forwards; }

@media (max-width: 1350px) {
  .main-screen__heading {
    margin-bottom: 10px; } }
@media (max-width: 1024px) {
  .main-screen {
    min-height: 100vh;
    margin-bottom: 100px; }
    .main-screen__text {
      padding: 0 20px;
      bottom: 3%;
      line-height: 1.1; }
    .main-screen__heading {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 52px; }
    .main-screen__sub {
      margin-bottom: 20px;
      font-size: 38px; } }
@media (max-width: 600px) {
  .main-screen {
    max-height: 720px;
    min-height: 480px; }
    .main-screen::before {
      background: -webkit-gradient(linear, left top, right bottom, from(transparent), to(rgba(67, 203, 255, 0.3))), url(img/bg-mobile-2.jpg) center center no-repeat;
      background: linear-gradient(to bottom right, transparent, rgba(67, 203, 255, 0.3)), url(img/bg-mobile-2.jpg) center center no-repeat; }
    .main-screen__heading {
      font-size: 32px; }
    .main-screen__sub {
      font-size: 18px; } }
@-webkit-keyframes bg-scale {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes bg-scale {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@-webkit-keyframes heading-movement {
  100% {
    opacity: 1; } }
@keyframes heading-movement {
  100% {
    opacity: 1; } }
@-webkit-keyframes sub-movement {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes sub-movement {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
.about {
  padding: 0 5%;
  margin-bottom: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .about__heading {
    position: relative;
    color: #0987e2; }
  .about__container {
    max-width: 1800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about__left {
    width: 500px;
    margin-right: 60px;
    position: relative; }
  .about__img {
    -webkit-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
    border-radius: 50%; }
    .about__img--1 {
      opacity: 1;
      -webkit-animation: change-photo 14s infinite;
              animation: change-photo 14s infinite; }
    .about__img--2 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
    .about__img--3 {
      border-radius: 15%; }
  .about__right {
    width: 50%;
    padding: 40px 0; }
  .about__text {
    margin-bottom: 30px; }
  .about__text:last-of-type {
    margin-bottom: 60px; }

@media (max-width: 1350px) {
  .about__left {
    width: 450px;
    margin-right: 40px; }
  .about__text:last-of-type {
    margin-bottom: 60px; } }
@media (max-width: 1024px) {
  .about {
    margin-bottom: 100px; }
    .about__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .about__left {
      width: auto;
      margin-right: 0; }
    .about__img {
      margin-bottom: 40px; }
    .about__right {
      width: 80%;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: justify; } }
@media (max-width: 600px) {
  .about__img {
    margin-bottom: 30px;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .about__right {
    width: 90%;
    font-size: 18px; }
  .about__text:last-of-type {
    margin-bottom: 50px; } }
@-webkit-keyframes change-photo {
  0%, 20% {
    opacity: 1;
    display: block; }
  50%, 70% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }
@keyframes change-photo {
  0%, 20% {
    opacity: 1;
    display: block; }
  50%, 70% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }
.why-us {
  margin-bottom: 170px;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(67, 203, 255, 0.8)), to(rgba(9, 135, 226, 0.8))), url(img/why-us.jpg) center no-repeat;
  background: linear-gradient(to bottom right, rgba(67, 203, 255, 0.8), rgba(9, 135, 226, 0.8)), url(img/why-us.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }
  .why-us__heading {
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #0987e2; }
  .why-us__heading::before, .why-us__heading::after {
    display: none; }
  .why-us__list {
    padding: 5% 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    list-style: none; }
  .why-us__item {
    padding: 2.5%;
    padding-left: 170px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    background-position: 50px center;
    background-repeat: no-repeat;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out; }
    .why-us__item--1 {
      background-image: url(img/pictures.svg); }
    .why-us__item--2 {
      background-image: url(img/profile-male.svg); }
    .why-us__item--3 {
      background-image: url(img/clock.svg); }
    .why-us__item--4 {
      background-image: url(img/gears.svg); }
    .why-us__item--5 {
      background-image: url(img/wallet.svg); }
    .why-us__item--6 {
      background-image: url(img/tools-2.svg); }
    .why-us__item--7 {
      background-image: url(img/global.svg); }
  .why-us__item:not(:last-child) {
    margin-bottom: 30px; }
  .why-us__item:hover {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px); }
  .why-us__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0987e2; }

@media (max-width: 1350px) {
  .why-us__list {
    padding: 5% 10%; }
  .why-us__item {
    padding: 3%;
    padding-left: 160px; } }
@media (max-width: 1024px) {
  .why-us {
    margin-bottom: 100px; }
    .why-us__item {
      padding: 4%;
      padding-left: 100px;
      background-position: 20px center; }
    .why-us__title {
      font-size: 22px;
      margin-bottom: 10px; }
    .why-us__content {
      font-size: 18px; } }
@media (max-width: 600px) {
  .why-us__heading {
    margin-top: 20px; }
  .why-us__list {
    padding: 50px 5% 10%;
    position: relative; }
  .why-us__item {
    height: 350px;
    padding: 110px 7% 50px;
    display: none;
    background-position: center 20px; }
    .why-us__item--1 {
      display: block; }
  .why-us__item:hover {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .why-us__title {
    text-align: center; }
  .why-us__left-arrow {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 17%;
    left: 16%;
    background: url(img/left-arrow.svg) no-repeat 0 0; }
  .why-us__right-arrow {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 17%;
    right: 16%;
    background: url(img/right-arrow.svg) no-repeat 0 0; } }
.stats {
  padding: 7% 5%;
  margin-bottom: 170px;
  background-color: #43CBFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .stats__heading {
    margin-bottom: 140px;
    color: #fff;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    position: relative; }
  .stats__heading::before, .stats__heading::after {
    background-color: #fff; }
  .stats__list {
    min-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none; }
  .stats__item {
    width: 20%;
    text-align: center;
    color: #fff; }
    .stats__item--number {
      margin-bottom: 30px;
      font-size: 44px;
      line-height: 44px;
      font-weight: 700;
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6); }
    .stats__item--text {
      font-size: 24px; }
  .stats__decoration {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5%;
    right: 2%;
    background: url(img/stats-deco.png) center center no-repeat; }

@media (max-width: 1350px) {
  .stats__list {
    min-width: 600px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .stats__item {
    width: 35%; }
    .stats__item--number {
      margin-bottom: 20px;
      font-size: 44px;
      line-height: 44px;
      font-weight: 700;
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6); }
    .stats__item--text {
      font-size: 24px; }
  .stats__item:nth-child(-n + 2) {
    margin-bottom: 50px; } }
@media (max-width: 1024px) {
  .stats__heading {
    margin-bottom: 80px; }
  .stats__list {
    min-width: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .stats__item {
    margin-bottom: 50px; }
  .stats__decoration {
    display: none; } }
@media (max-width: 600px) {
  .stats {
    padding: 15% 5%;
    margin-bottom: 100px; }
    .stats__heading {
      margin-bottom: 40px; }
    .stats__list {
      min-width: 300px; }
    .stats__item:nth-child(n) {
      width: 200px;
      margin-bottom: 30px; }
    .stats__item:last-child {
      margin-bottom: 0; }
    .stats__item--number {
      margin-bottom: 15px; } }
.objects {
  margin-bottom: 170px;
  padding: 5%;
  background-color: #43CBFF; }
  .objects__heading {
    color: #fff;
    position: relative; }
  .objects__heading::before, .objects__heading::after {
    display: none; }
  .objects__note {
    width: 350px;
    margin: -60px auto 70px;
    display: block;
    color: #fff;
    font-size: 24px; }
  .objects__container {
    width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .objects__name {
    width: 450px;
    padding: 1%;
    font-size: 32px;
    color: #fff; }
  .objects__slider {
    width: 600px;
    margin-right: 50px; }

@media (max-width: 1350px) {
  .objects__container {
    width: 940px; }
  .objects__slider {
    margin-right: 0;
    margin-bottom: 40px; }
  .objects__note {
    margin: -30px auto 70px; } }
@media (max-width: 1024px) {
  .objects {
    padding: 5% 0; }
    .objects__container {
      width: 580px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .objects__slider {
      width: 95%;
      height: auto; } }
@media (max-width: 600px) {
  .objects {
    padding: 15% 5px;
    margin-bottom: 100px; }
    .objects__container {
      width: 300px; }
    .objects__name {
      width: 300px;
      padding: 1%;
      font-size: 20px; }
    .objects__slider {
      width: 100%;
      margin-bottom: 20px; }
    .objects__note {
      width: 300px;
      margin: -30px auto 30px;
      display: block;
      color: #fff;
      font-size: 18px;
      text-align: center; } }
.services {
  padding: 0 5%; }
  .services__heading {
    color: #0987e2;
    position: relative; }
  .services__list {
    list-style: none; }
  .services__item {
    min-height: 34px;
    padding-left: 40px;
    margin-bottom: 10px;
    background: url(img/checkbox-paint.svg) 0 0 no-repeat; }

@media (max-width: 1024px) {
  .services__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }
@media (max-width: 600px) {
  .services__item {
    text-align: left;
    font-size: 16px; } }
.order__info {
  margin-bottom: 30px; }
.order__tel {
  padding: 30px 120px 30px 160px;
  font-size: 36px;
  line-height: 40px;
  color: #0987e2;
  background: url(img/telephone.svg) left center no-repeat, url(img/viber.svg) 80px center no-repeat; }

@media (max-width: 1350px) {
  .order__tel {
    padding: 30px 50px 30px 110px;
    font-size: 30px;
    line-height: 38px;
    background: url(img/telephone-tablet.svg) left center no-repeat, url(img/viber-tablet.svg) 56px center no-repeat; } }
@media (max-width: 600px) {
  .order__tel {
    padding: 50px 0 50px 0;
    font-size: 30px;
    line-height: 38px;
    background: url(img/telephone-tablet.svg) center top no-repeat, url(img/viber-tablet.svg) center bottom no-repeat; } }
.slider {
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #43CBFF; }
  .slider__container {
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 15px #0987e2;
            box-shadow: 0 0 15px #0987e2; }
  .slider__photo {
    display: none; }
    .slider__photo--1 {
      display: block; }
  .slider__btn {
    height: 60px;
    width: 100%;
    border: none;
    background-color: #fff; }
    .slider__btn--up {
      border-radius: 50% 50% 100% 0%/100% 100% 0% 0%; }
    .slider__btn--down {
      border-radius: 0% 100% 50% 50% / 0% 0% 100% 100%; }
    .slider__btn:hover, .slider__btn:focus {
      background-color: azure;
      cursor: pointer; }
    .slider__btn:focus {
      outline: none; }
  .slider__task {
    width: 100%;
    padding: 10px;
    position: absolute;
    z-index: 100;
    font-size: 24px;
    background-color: rgba(173, 214, 240, 0.8); }

@media (max-width: 1024px) {
  .slider__container {
    width: 95%;
    height: auto; }
  .slider__btn {
    width: 95%; } }
@media (max-width: 600px) {
  .slider {
    width: 300px;
    height: 280px; }
    .slider__container {
      width: 300px; }
    .slider__btn {
      width: 300px;
      height: 30px; }
    .slider__task {
      padding: 5px;
      font-size: 16px;
      background-color: rgba(173, 214, 240, 0.7); } }
.footer {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #0987e2;
  color: #fff;
  font-size: 24px;
  line-height: 1.2; }
  .footer__contacts b {
    margin-bottom: 10px; }

@media (max-width: 1350px) {
  .footer {
    padding: 1%;
    font-size: 18px; } }
@media (max-width: 1024px) {
  .footer {
    padding: 1%;
    font-size: 16px; }
    .footer__contacts, .footer__company {
      max-width: 45%; } }
@media (max-width: 600px) {
  .footer {
    padding: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    .footer__company {
      margin-bottom: 20px; }
    .footer__contacts, .footer__company {
      max-width: 90%; } }
.btn {
  padding: 30px 60px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 30px; }
  .btn__order {
    -ms-flex-item-align: center;
        align-self: center;
    background-color: #f1364b;
    color: #fff;
    font-weight: 500;
    text-align: center;
    -webkit-box-shadow: 5px 5px 5px #7e7171;
            box-shadow: 5px 5px 5px #7e7171;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .btn__order:hover {
    background-color: #be2333; }
  .btn__order:active {
    -webkit-box-shadow: 1px 1px 2px #7e7171;
            box-shadow: 1px 1px 2px #7e7171;
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }

@media (max-width: 1350px) {
  .btn {
    padding: 25px 45px; } }
@media (max-width: 1024px) {
  .btn {
    padding: 20px 40px; } }
@media (max-width: 600px) {
  .btn {
    text-align: center; }
    .btn__order {
      padding: 20px 30px;
      font-size: 16px; } }

/*# sourceMappingURL=style.css.map */