html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: Volkorn, sans-serif;
  font-size: 20px;
  line-height: 26px; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html, body, p, ul, li, h1, h2, h3, h4 {
  padding: 0;
  margin: 0; }

.main {
  display: block; }

.h2-heading {
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px; }

.main-header {
  min-height: 60px; }

.main-nav {
  min-height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  background: -webkit-gradient(linear, left top, right top, from(#0987e2), to(#48c6ef));
  background: linear-gradient(to right, #0987e2, #48c6ef); }
  .main-nav__list {
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none; }
  .main-nav__item {
    height: 30px;
    position: relative; }
  .main-nav__item:hover::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#48c6ef));
    background: linear-gradient(to right, #fff, #48c6ef);
    -webkit-animation: link-hover 1.5s ease-out infinite;
            animation: link-hover 1.5s ease-out infinite;
    -webkit-box-shadow: 0 0 1px #000;
            box-shadow: 0 0 1px #000; }
  .main-nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 2px 10px #000;
    line-height: 30px; }
  .main-nav__link:focus {
    outline: none;
    border-bottom: 2px solid #fff; }

@-webkit-keyframes link-hover {
  0%, 10% {
    width: 0;
    left: 0; }
  40%, 60% {
    width: 100%;
    left: 0; }
  90%, 100% {
    left: 100%;
    width: 0; } }

@keyframes link-hover {
  0%, 10% {
    width: 0;
    left: 0; }
  40%, 60% {
    width: 100%;
    left: 0; }
  90%, 100% {
    left: 100%;
    width: 0; } }
.main-screen {
  min-height: calc(100vh - 60px);
  width: 100%;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden; }
  .main-screen::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background: -webkit-gradient(linear, left top, right bottom, from(transparent), to(rgba(72, 198, 239, 0.3))), url(img/bg.jpg) top left no-repeat;
    background: linear-gradient(to bottom right, transparent, rgba(72, 198, 239, 0.3)), url(img/bg.jpg) top left no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-animation: bg-scale 1.5s ease-out forwards;
            animation: bg-scale 1.5s ease-out forwards; }
  .main-screen__text {
    width: 100%;
    padding: 2%;
    position: absolute;
    top: 65%;
    right: 0;
    bottom: 5%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 2px 10px #000;
    text-align: center; }
  .main-screen__heading {
    margin-bottom: 30px;
    font-size: 74px;
    font-weight: 700;
    line-height: 1.2;
    color: #43CBFF;
    opacity: 0;
    -webkit-animation: heading-movement 1.5s .5s ease-out forwards;
            animation: heading-movement 1.5s .5s ease-out forwards; }
  .main-screen__sub {
    display: block;
    font-size: 58px;
    font-weight: 700;
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
    -webkit-animation: sub-movement 1.5s .1s ease-out forwards;
            animation: sub-movement 1.5s .1s ease-out forwards; }

@-webkit-keyframes bg-scale {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes bg-scale {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@-webkit-keyframes heading-movement {
  100% {
    opacity: 1; } }
@keyframes heading-movement {
  100% {
    opacity: 1; } }
@-webkit-keyframes sub-movement {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes sub-movement {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
.about {
  padding: 0 3%;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .about__heading {
    color: #0987e2;
    position: relative; }
  .about__heading::before {
    content: "";
    width: 100px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: -140px;
    background-color: #0987e2; }
  .about__heading::after {
    content: "";
    width: 100px;
    height: 3px;
    position: absolute;
    top: 50%;
    right: -140px;
    background-color: #0987e2; }
  .about__container {
    max-width: 1400px;
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about__left {
    width: 480px;
    margin-right: 50px; }
  .about__img {
    -webkit-box-shadow: 0 0 10px #0987e2;
            box-shadow: 0 0 10px #0987e2; }
    .about__img--1 {
      border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%; }
    .about__img--2 {
      border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%; }
  .about__right {
    font-size: 22px; }
  .about__text {
    margin-bottom: 50px;
    padding: 30px;
    -webkit-box-shadow: 0 0 10px #0987e2;
            box-shadow: 0 0 10px #0987e2; }

.why-us {
  margin-bottom: 100px;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(72, 198, 239, 0.8)), to(rgba(9, 135, 226, 0.8))), url(img/why-us.jpg) center no-repeat;
  background: linear-gradient(to bottom right, rgba(72, 198, 239, 0.8), rgba(9, 135, 226, 0.8)), url(img/why-us.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }
  .why-us__heading {
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #0987e2; }
  .why-us__list {
    padding: 3% 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    list-style: none; }
  .why-us__item {
    padding: 2.5%;
    padding-left: 170px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    background-position: 50px center;
    background-repeat: no-repeat;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out; }
    .why-us__item--pictures {
      background-image: url(img/pictures.svg); }
    .why-us__item--profile-male {
      background-image: url(img/profile-male.svg); }
    .why-us__item--hourglass {
      background-image: url(img/hourglass.svg); }
    .why-us__item--gears {
      background-image: url(img/gears.svg); }
    .why-us__item--wallet {
      background-image: url(img/wallet.svg); }
    .why-us__item--tools-2 {
      background-image: url(img/tools-2.svg); }
    .why-us__item--global {
      background-image: url(img/global.svg); }
  .why-us__item:not(:last-child) {
    margin-bottom: 30px; }
  .why-us__item:hover {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px); }
  .why-us__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0987e2; }

.stats {
  padding: 7% 3%;
  margin-bottom: 100px;
  background-color: #48c6ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .stats__heading {
    margin-bottom: 140px;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    position: relative; }
  .stats__heading::before {
    content: "";
    width: 100px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: -140px;
    background-color: #0987e2;
    background-color: #fff; }
  .stats__heading::after {
    content: "";
    width: 100px;
    height: 3px;
    position: absolute;
    top: 50%;
    right: -140px;
    background-color: #0987e2;
    background-color: #fff; }
  .stats__list {
    min-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none; }
  .stats__item {
    width: 20%;
    text-align: center;
    color: #fff; }
    .stats__item--number {
      margin-bottom: 30px;
      font-size: 44px;
      line-height: 36px;
      font-weight: 700;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6); }
    .stats__item--text {
      font-size: 24px; }
  .stats__decoration {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10%;
    right: 3%;
    background: url(img/stats-deco.png) center center no-repeat; }

.objects {
  min-height: calc(100vh - 60px);
  margin-bottom: 100px;
  padding: 3%;
  background-color: #48c6ef; }
  .objects__heading {
    color: #fff; }
  .objects__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .objects__description {
    background-color: rgba(72, 198, 239, 0.3);
    padding: 2%;
    height: 200px;
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px; }
  .objects__name {
    margin-bottom: 30px;
    font-size: 32px;
    color: #fff; }
  .objects__task {
    font-size: 24px; }
  .objects__slider {
    width: 620px; }

.services {
  margin-bottom: 100px;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .services__heading {
    color: #0987e2;
    position: relative; }
  .services__heading::before {
    content: "";
    width: 100px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: -140px;
    background-color: #0987e2; }
  .services__heading::after {
    content: "";
    width: 100px;
    height: 3px;
    position: absolute;
    top: 50%;
    right: -140px;
    background-color: #0987e2; }

.slider {
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #48c6ef; }
  .slider__container {
    width: 600px;
    height: 400px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 15px #0987e2;
            box-shadow: 0 0 15px #0987e2; }
  .slider__stripe {
    width: 600px;
    height: 1200px;
    position: relative;
    top: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out; }
  .slider__stripe img {
    display: block; }
  .slider__btn {
    border: none;
    height: 60px;
    width: 100%;
    background-color: #fff; }
    .slider__btn--up {
      border-radius: 50% 50% 100% 0%/100% 100% 0% 0%; }
    .slider__btn--down {
      border-radius: 0% 100% 50% 50% / 0% 0% 100% 100%; }
    .slider__btn:hover, .slider__btn:focus {
      background-color: azure; }
    .slider__btn:focus {
      outline: none; }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 20px; }
  .btn__order {
    padding: 20px 60px;
    background-color: #0987e2;
    color: #fff;
    -ms-flex-item-align: center;
        align-self: center; }
  .btn__order:hover {
    background-color: #48c6ef; }

/*# sourceMappingURL=style.css.map */