.btn {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 20px;
  
  &__order {
    padding: 20px 60px;
    background-color: $color-blue;
    color: $color-white;
    align-self: center;
  }
  
  &__order:hover {
    background-color: $color-primary;
  }
}