.btn {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 30px;
  
  &__order {
    padding: 30px 60px;
    align-self: center;
    background-color: $color-red;
    color: $color-white;
    font-weight: 500;
    box-shadow: 5px 5px 5px #7e7171;
    transition: .3s ease;
  }
  
  &__order:hover {
    background-color: $color-red-dark;
    
  }
  
  &__order:active {
    box-shadow: 1px 1px 2px #7e7171;
    transform: translateY(2px);
  }
}


@media (max-width: $tablet-width) {
  .btn {

  }
}


@media (max-width: $mobile-width) {
  .btn {
    text-align: center;

    &__order {
      padding: 20px 30px;
    }

  }
}