.footer {
  display: flex;
  min-height: 200px;
  align-items: center;
  justify-content: space-around;
  background-color: $color-blue;
  color: $color-white;
  font-size: 24px;
  line-height: 1.2;

  &__contacts b {
    margin-bottom: 10px;
  }
}

@media (max-width: $tablet-width) {
  .footer {
    padding: 1%;
    font-size: 18px;
    
    &__company {
      margin-bottom: 20px;
    }
    
    &__company,
    &__contacts {
      width: 45%;
    }
  }
}

@media (max-width: $mobile-width) {
  .footer {
    padding: 5%;
    flex-direction: column;
    text-align: center;
  }
}
