.footer {
  display: flex;
  min-height: 200px;
  align-items: center;
  justify-content: space-around;
  background-color: $color-blue;
  color: $color-white;
  font-size: 24px;
  line-height: 1.2;

  &__contacts b {
    margin-bottom: 10px;
  }
}
