.main-header {
  height: $header-height;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-primary;
  // #32a6eb;
  // #f72132;
  // #f0ac32;
  // $color-blue;
  z-index: 1000;


  &__list {
    max-width: 1400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    min-height: $header-height;
  }

  &__item {
    transition: all .5s;
  }

  &__item:hover {
    transform: scale(1.2);
  }

  &__item a {
    color: $color-white;
    text-shadow: 0 2px 10px #000;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.main {
  display: block;
}

// .main-title {
//   background: linear-gradient(
//     to right bottom,
//     rgba($color-white,0.15),
//     rgba(#212763,0.15)),
//     url("img/ren4.jpg") no-repeat top left;
//   background-size: cover;
//   min-height: calc(100vh - 90px);  //вставить значение $header-height при его изменении
//   display: flex;
//   justify-content: center;
//   align-items: center;
//
//   &__container {
//     background-color: rgba($color-primary, .6);
//     padding: 30px;
//     color: $color-white;
//     width: 55%;
//     border-radius: 8px;
//     margin-left: 13%;
//     margin-top: 12%;
//     position: relative;
//   }
//
//   &__heading {
//     margin-bottom: 20px;
//     font-size: 50px;
//     font-weight: 700;
//     line-height: 1.2;
//   }
//
//   &__sub {
//     font-size: 34px;
//   }
//
//   &__triangle {
//     width: 0;
// 	  height: 0;
// 	  border-top: 25px solid transparent;
// 	  border-right: 50px solid rgba($color-primary, .6);
// 	  border-bottom: 25px solid transparent;
//     position: absolute;
//     top: 30%;
//     left: -50px;
//   }
// }
