.main-nav {
  position: fixed;
    left: 0;
    right: 0;
    z-index: 500;
  background: linear-gradient(to right, $color-blue, $color-primary);
  
  &__list {
    max-width: 1900px;
    min-height: $header-height;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none; 
  }
 
  &__logo {
    font-family: "Archivo Black", sans-serif;
    font-size: 34px;
    color: $color-red;    
  }
  
  &__logo span {
    font-family: "Monoton", cursive;
    font-size: 30px;
    color: $color-white;     
  }
  
  &__item {
    height: 30px;    
    position: relative;
  }
  
  &__item:hover::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
      left: 0;
      bottom: 0;
    background: linear-gradient(to right, $color-white, $color-primary);
    box-shadow: 0 0 1px #000;
    animation: link-hover 1.5s ease infinite;    
  }
  
  &__item:first-child:hover::after {
    display: none;
  }
  
  &__link {
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 2px 10px #000;
    line-height: 30px;
  }
  
  &__link:focus {
    outline: none;
    color: $color-light-blue;
  }
  
  &__link:active {
    text-decoration: none;
    border-bottom: none;
  }
  
  &__toggle {
    display: none;
  }
}


@media (max-width: $tablet-width) {
  .main-nav {    
    &__link {
      font-size: 19px;
    }
  }
}


@media (max-width: $small-tablet-width) {
  .main-nav {
    width: 300px;
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color-blue, .8);
    transition: all .6s ease-out;
    
    &--hidden {
      height: 100px;
      background: rgba($color-blue, 0);
    }
    
    &__list {    
      flex-direction: column;
      
      &--hidden {
        display: none;
      }
    }
    
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  
    &__item:first-child {
      margin-bottom: 40px;
    }

    &__item:not(:first-child):hover::after {
      display: none;      
    }
    
    &__link:hover {
      color: $color-light-blue;
    }
    
    &__link:focus {
      outline: none;
      color: $color-light-blue;
    }
    
    &__toggle {
      width: 65px;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
        top: 30px;
        right: 220px;
        z-index: 1000;
      border: none;
      border-radius: 50%;
      background-color: $color-white;
      box-shadow: $text-shadow;
      cursor: pointer;
      transition: all .4s ease-out;
      
      &--menu-opened {        
        transform: translateX(190px)
      }
    }
    
    &__toggle:focus {
      outline: none;
    }
    
    &__icon {
      position: relative;      

      &, &::before, &::after {
        width: 30px;
        height: 2px;
        background-color: $color-blue;
        display: inline-block;
      }

      &::before, &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
      }

      &::before {
        top: -10px;        
      }

      &::after {
        top: 10px;
      }
      
      &--cross {
        background-color: transparent;
      }
      
      &--cross::before {
        top: 0;
        transform: rotate(135deg);
      }
        
      &--cross::after {
        top: 0;
        transform: rotate(-135deg);
      }
    }
  }  
}


@media (max-width: $mobile-width) {
  .main-nav {
    &__toggle {
      width: 60px;
      height: 60px;
      top: 15px;
            
      &--menu-opened {        
        transform: translateX(200px)
      }
    }
  }
}

@keyframes link-hover {
  0% {
    width: 0;
    left: 0;
  }
  
  50% {
    width: 100%;
    left: 0;
  }
  
  100% {
    left: 100%;
    width: 0;
  }
}