.main-nav {  
  min-height: $header-height;
  position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
  background: linear-gradient(to right, $color-blue, $color-primary);  
  
  &__list {
    max-width: 1920px;
    min-height: $header-height;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;    
  }
  
  &__logo {
    font-family: 'Archivo Black', sans-serif;
    font-size: 34px;
    color: $color-red;    
  }
  
  &__logo span {
    font-family: "Monoton", cursive;
    color: $color-white;
    font-size: 30px; 
  }
  
  &__item {
    height: 30px;
    position: relative;
  }
  
  &__item:not(:first-child):hover::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
      left: 0;
      bottom: 0;
    background: linear-gradient(to right, $color-white, $color-primary);
    animation: link-hover 1.5s ease-out infinite;
    box-shadow: 0 0 1px #000;
  }
  
  &__link {
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 2px 10px #000;
    line-height: 30px;
}
  
  &__link:focus {
    outline: none;
    border-bottom: 2px solid $color-white;
  }
}
  



@media (max-width: $tablet-width) {
  .main-nav {
    position: absolute;
    width: 300px;
    margin-left: auto;
    
    &__list {
      flex-direction: column;
    }

    &__item:hover::after {

    }
  }
}



@media (max-width: $mobile-width) {
  .main-nav {
    display: none;
    
    &__list {
      flex-direction: column;
    }
    
    &__item:hover::after {
      display: none;
    }
  }
}


@keyframes link-hover {
  0%, 10% {
    width: 0;
    left: 0;
  }
  
  40%, 60% {
    width: 100%;
    left: 0;
  }
  
  90%, 100% {
    left: 100%;
    width: 0;
  }
}


//@keyframes nav-animation {
//  
//  0% {
//    opacity: 0;
//    transform: translateY(-100px);
//  }
//  
//  80% {
//    opacity: 1;
//    transform: translateY(10px);
//  }
//  
//  100% {
//    opacity: 1;
//    transform: translateY(0);
//  }
//}