.main-screen {
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgba(141, 182, 215, .6), rgba(202, 204, 205, .6)),
    url(img/bg.jpg) top right no-repeat;
  background-size: cover;
  min-height: calc(100vh - 60px);  //подставить значение $header-height, так как автоматически не считает
  // clip-path: polygon(0 0, 100% 0, 100% 98%, 0 90%);
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    padding: 0 20px;
    color: $color-white;
    text-shadow: 0 5px 35px #000;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  &__heading {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
  }

  &__accent {
    color: $color-primary;
  }

  &__sub {
    display: block;
    font-size: 46px;
    font-weight: 700;
  }
}
