.objects {
//  min-height: calc(100vh - 60px);
  margin-bottom: $section-mb;
  padding: $section-padding;  
  background-color: $color-primary;
  
  &__heading {
    color: $color-white;
    position: relative;
  }
  
  &__heading::before,
  &__heading::after {
    display: none;
  }
  
  &__note {
    width: 350px;
    margin: -60px auto 70px;
    display: block;
    color: $color-white;
    font-size: 24px;
  }
  
  &__container {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  
  &__name {
    width: 450px;
    padding: 1%;  
    font-size: 32px;
    color: $color-white;    
  }

  &__slider {
    width: 600px;
    margin-right: 50px;
  }
}


@media (max-width: $tablet-width) {
  .objects {    
    &__container {
      width: 940px;
    }
    
    &__slider {
     margin-right: 0;
     margin-bottom: 40px;
   }
    
    &__note {
      margin: -30px auto 70px;
    }
  }
}


@media (max-width: $small-tablet-width) {
  .objects {
    padding: $section-padding 0; 
    
    &__container {
      width: 580px;
      flex-direction: column;
    }
    
    &__slider {
      width: 95%;
      height: auto;
    }

  }
}


@media (max-width: $mobile-width) {
  .objects {
    padding: 15% 5px;
      
    &__container {
      width: 300px;
    }
      
    &__name {
      width: 300px;
      padding: 1%;  
      font-size: 20px;   
    }
      
    &__slider {
      width: 100%;
      margin-bottom: 20px;
    }
    
    &__note {
      width: 300px;
      margin: -30px auto 30px;
      display: block;
      color: $color-white;
      font-size: 18px;
      text-align: center;
    } 
  }    
}
