.objects {
  width: 100%;
  height: calc(100vh - 60px);  //вручную подставить значение переменной $header-height
  padding: 3%;
  padding-left: 8%;
  position: relative;

  &__heading {
    text-align: left;

  }

  &__description {
    height: 100%;
    width: 80%;
    background-color: rgba($color-primary, .4);
    padding: 3%;
    border: 4px solid $color-primary;
  }

  &__task {
    width: 50%;
  }

  &__slider {
    width: 600px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200px);
    right: 8%;
    background-color: #fff;

    // box-shadow: 0 0 8px black;

  }

  &__btn {
    position: absolute;
    right: 8%;
    border: none;
    background-color: transparent;

    &:hover {
      transform: rotate(90deg) scale(1.1);
    }
  }

  &__btn--up {
    top: 8%;
    transform: rotate(90deg);
  }

  &__btn--down {
    bottom: 8%;
    transform: rotate(90deg);
  }


}
