.objects {
  min-height: calc(100vh - 60px);
  margin-bottom: $section-mb;
  padding: $section-padding;  
  background-color: $color-primary;
  
  &__heading {
    color: $color-white;
    position: relative;
  }
  
  &__heading::before,
  &__heading::after {
    display: none;
  }
  
  &__note {
    width: 350px;
    margin: -60px auto 70px;
    display: block;
    color: $color-white;
    font-size: 24px;
  }
  
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  
  &__description {
    background-color: rgba($color-primary, .3);
    padding: 2%;
//    height: 300px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
  }
  
  &__name {
    margin-bottom: 30px;
    font-size: 32px;
    color: $color-white;
    height: 50px;
  }

  &__task {
    font-size: 24px;
    margin-bottom: 80px;
    height: 60px;
  }

  &__slider {
    width: 620px; 
  }
}


@media (max-width: $tablet-width) {
  .objects {
//    display: none;
  }
}


@media (max-width: $mobile-width) {
  .objects {
    
    &__container {
      flex-direction: column;
    }
    
    &__slider {
 
    }
    
    &__task,
    &__note {
      display: none;
    }
    
    
    
  }
}
