.services {
  padding: $section-padding;
  
  &__heading {
    color: $color-blue;
    position: relative;
  }
  
  &__list {
    list-style: none;
  }
  
  &__item {
    min-height: 34px;
    padding-left: 40px;
    background: url(img/checkbox-paint.svg) 0 center no-repeat;
  }
}

@media (max-width: $small-tablet-width) {
  .services {



  }
}

//@media (max-width: $mobile-width) {
//  .services {
//
//    &__heading::before {
//      display: none;
//    }
//
//    &__heading::after {
//      display: none;
//    }
//    
//    &__item {
//      min-height: 28px;
//      padding-left: 30px;
//      margin-bottom: 20px;
//      font-size: 18px;
//      background: url(img/checkbox-paint-mobile.svg) 0 top no-repeat;
//    }
//
//  }
//}
