.slider {
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;
  
  &__container {
    width: 600px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 0 15px $color-blue;
  }
  
  &__stripe {
    width: 600px;
    height: 1200px;
    position: relative;
    top: 0;       
    //чтобы слайдер на первое нажатие кнопки не реагировал "жестко"
    transition: all .3s ease-out;
  }
  
  &__stripe img {
    display: block;
  }

  &__btn {    
    border: none;
    height: 60px;
    width: 100%;
    background-color: $color-white;

    &--up {
      border-radius: 50% 50% 100% 0% / 100% 100% 0% 0% ;
    }

    &--down {
      border-radius: 0% 100% 50% 50% / 0% 0% 100% 100%;
    }
    
    &:hover,
    &:focus {
      background-color: azure;
    }
        
    &:focus {
      outline: none;
    }
  }
}
