.stats {
  padding: 7% $section-padding;
  margin-bottom: $section-mb;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
  &__heading {
    margin-bottom: 140px;
    color: $color-white;
    text-shadow: $text-shadow;
    position: relative;
  }
  
  &__heading::before,
  &__heading::after {
    background-color: $color-white;
  }
  
  &__list {
    min-width: 1300px;
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  
  &__item {
    width: 20%;
    text-align: center;
    color: $color-white;
    
    &--number {
      margin-bottom: 30px;
      font-size: 44px;
      line-height: 44px;
      font-weight: 700;
      text-shadow: $text-shadow;
    }
    
    &--text {
      font-size: 24px;
    }
  }
  
  &__decoration {
    width: 100px;
    height: 100px;
    position: absolute;
      top: 10%;
      right: 3%;    
    background: url(img/stats-deco.png) center center no-repeat;
  }
}


@media (max-width: $tablet-width) {
  .stats {
    
    &__list {
      flex-wrap: wrap;
      justify-content: center;
    }
    
    &__item {
      width: 35%;

      &--number {
        margin-bottom: 20px;
        font-size: 44px;
        line-height: 44px;
        font-weight: 700;
        text-shadow: $text-shadow;
      }

      &--text {
        font-size: 24px;
      }
    }
    
    &__item:nth-child(-n + 2) {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: $small-tablet-width) {
  .stats {
    
    &__heading {
      margin-bottom: 80px;
    }
    
    &__list {
      flex-direction: column;
      align-items: center;
    }
    
    &__item {
      margin-bottom: 50px;
    }
    
    &__decoration {
      display: none;
    }
    
  }
}


//@media (max-width: $mobile-width) {
//  .stats {
//    

//    
//    
//    &__list {
//      min-width: 300px;
      
//    }
//    
//    &__item {
//      width: 300px;
//      margin-bottom: 80px;
//      
//      &--number {
//        font-size: 64px;
//      }
//      
//      &--text {
//        font-size: 32px;
//      }
//    }
//    

//  }
//}

