.why-us {
  margin-bottom: $section-mb;  
  background: linear-gradient(to bottom right, rgba($color-primary, .8), rgba($color-blue, .8)),
    url(img/why-us.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  
  &__heading {
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 10px;
    background-color: rgba($color-white, .8);
    color: $color-blue;
  }
  
  &__heading::before,
  &__heading::after {
    display: none;
  }
  
  &__list {
    padding: $section-padding 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
  }
  
  &__item {
    padding: 2.5%;
    padding-left: 170px;
    background-color: rgba($color-white, .8);
    border-radius: 8px;
    background-position: 50px center;
    background-repeat: no-repeat;
    transition: all .5s ease-out;
    
    &--1 {
      background-image: url(img/pictures.svg);      
    }

    &--2 {
      background-image: url(img/profile-male.svg);
    }

    &--3 {
      background-image: url(img/clock.svg);
    }

    &--4 {
      background-image: url(img/gears.svg);
    }

    &--5 {
      background-image: url(img/wallet.svg);
    }

    &--6 {
      background-image: url(img/tools-2.svg);
    }

    &--7 {
      background-image: url(img/global.svg);
    }
  }
  
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
  
  &__item:hover {
    transform: translateX(-40px);
  }
  
  &__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: $color-blue;
  }
  
}


@media (max-width: $tablet-width) {
  .why-us {
    &__list {
      padding: $section-padding 10%;
    }
      
    &__item {
      padding: 3%;
      padding-left: 160px;      
    }
  }
}

@media (max-width: $small-tablet-width) {
  .why-us {
    margin-bottom: $section-mb-small;
    background: linear-gradient(to bottom right, rgba($color-primary, .8), rgba($color-blue, .8)),
    url(img/why-us-smalltablet.jpg) center no-repeat;
    
    &__item {
      padding: 4%;
      padding-left: 100px; 
      background-position: 20px center;
    }
    &__title {
      font-size: 22px;
      margin-bottom: 10px;
    }
    
    &__content {
      font-size: 18px;
    }    
  }
}


@media (max-width: $mobile-width) {
  .why-us {
    background: linear-gradient(to bottom right, rgba($color-primary, .8), rgba($color-blue, .8)),
    url(img/why-us-mobile.jpg) center no-repeat;
    &__heading {
      margin-top: 20px;
    }
    
    &__list {
      padding: 50px 5% 10%;
      position: relative;
    }
    
    &__item {
      height: 350px;
      padding: 110px 7% 50px;
      display: none;
      background-position: center 20px;
      
      &--1 {
        display: block;
      }
    }
    
    &__item:hover {
      transform: translateX(0);
    }
    
    &__title {
      text-align: center;
    }
    
    &__left-arrow {
      width: 52px;
      height: 52px;
      position: absolute;
        top: 17%;
        left: 16%;
      background: url(img/left-arrow.svg) no-repeat 0 0;
    }
    
    &__right-arrow {
      width: 52px;
      height: 52px;
      position: absolute;
        top: 17%;
        right: 16%;
      background: url(img/right-arrow.svg) no-repeat 0 0;
    }
  }
}


