.why-us {
  position: relative;

  &__heading {
    font-size: 32px;
    position: absolute;
    top: 1%;
    z-index: 500;
    background-color: rgba($color-white, .3);
    padding: 1.5%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &__container {
    transform: skewY(3deg);
    background-image: linear-gradient(to right, rgba($color-primary, .8), rgba(106, 195, 205, .8)),
      url(img/why-us.jpg);
    background-size: cover;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
    list-style: none;
    min-height: 700px;
    padding: 8% 2% 6%;
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: Arial, serif;
    transform: skewY(-3deg);
    color: #25476F;
  }

  &__item {
    background-color: rgba($color-white, .8);
    width: 22.5%;
    padding: 2%;
    padding-top: 74px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    transition: all .4s;
  }

  &__item:nth-child(-n+4) {
    margin-bottom: 30px;
  }

  &__item:hover {
    transform: scale(1.05) translateY(-8px);
  }

  &__item--pictures {
    background-image: url(img/pictures.svg);
    background-position: center 10%;
    background-repeat: no-repeat;
  }

  &__item--profile-male {
    background-image: url(img/profile-male.svg);
    background-position: center 10%;
    background-repeat: no-repeat;
  }

  &__item--tools-2 {
    background-image: url(img/tools-2.svg);
    background-position: center 10%;
    background-repeat: no-repeat;
  }

  &__item--gears {
    background-image: url(img/gears.svg);
    background-position: center 10%;
    background-repeat: no-repeat;
  }

  &__item--wallet {
    background-image: url(img/wallet.svg);
    background-position: center 10%;
    background-repeat: no-repeat;
  }

  &__item--hourglass {
    background-image: url(img/hourglass.svg);
    background-position: center 10%;
    background-repeat: no-repeat;
  }

  &__item--global {
    background-image: url(img/global.svg);
    background-position: center 10%;
    background-repeat: no-repeat;
  }

  &__item--heart {
    background-image: url(img/heart.svg);
    background-position: center 10%;
    background-repeat: no-repeat;
  }

  &__title {
    font-size: 22px;
    height: 100px;
    text-align: center;
  }
}




// .why-us {
//   height: 1050px;
//   background-color: pink;
//   position: relative;
//
//   &__heading {
//     font-size: 32px;
//   color: $color-primary;
//   padding: 1.5%;
//   text-transform: uppercase;
//   font-weight: 400;
//   }
//
//   &__container {
//     display: flex;
//     background-color: #fff;
//   }
//
//   &__list {
//     position: relative;
//     width: 30%;
//     margin-left: 5%;
//     list-style: none;
//
//   }
//
//   &__item {
//     position: absolute;
//
//     // margin-right: 30%;
//     background-color: $color-blue;
//
//     &--pictures {
//       top: 100px;
//     }
//
//     &--profile-male {
//       top: 300px;
//     }
//   }
//
//   &__alpinist {
//     background: url(img/alpinist1.png) no-repeat center, transparent;
//     width: 46px;
//     height: 58px;
//     position: absolute;
//     top: 1050px;
//   }
// }
//
// .rope {
//   margin-left: 30%;
//   width: 82px;
//   height: 1000px;
//   // background-color: pink;
//   position: relative;
//
//   &__body {
//     position: absolute;
//     left: calc(50% + 2px);
//     width: 3px;
//     height: 1000px;
//     background-color: #000;
//   }
//
//
//   &__node {
//     position: absolute;
//     top: 100px;
//     left: calc(50% - 21px);
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     z-index: 1;
//
//     &--pictures {
//       background: url(img/pictures.svg) no-repeat center, #000;
//     }
//
//     &--profile-male {
//       top: 300px;
//       background: url(img/profile-male.svg) no-repeat center, #000;
//     }
//   }
//
//   // &__alpinist {
//   //   background: url(img/alpinist1.png) no-repeat center, transparent;
//   //   width: 46px;
//   //   height: 58px;
//   //   position: absolute;
//   //   top: 1000px;
//   // }
// }
//
//
//
//
//
.services {
  // padding: 3%;
  margin-top: 180px;

  &__content {
    width: 100%;
    margin-left: 10%;
    min-height: 460px;
    background-image: linear-gradient(110deg, rgba($color-primary, .9) 50%, transparent 50%), url(img/services.jpg);
    background-origin: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
  }

  &__content {
    padding: 4%;
  }

  &__header {
    color: $color-white;
    font-size: 36px;
    margin-bottom: 30px;
  }

  &__list {
    color: $color-white;
    font-size: 20px;
    font-family: Arial, serif;
  }

  &__item:nth-child(-n+3) {
    width: 45%;
  }

  &__item {
    width: 35%;
    margin-bottom: 10px;

  }

  &__item:hover {
    color: #B6DDE7;
  }
}
