html {
  box-sizing: border-box;

}

body {
  font-family: Volkorn, sans-serif;
  font-size: 20px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body, p, ul, li, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

.h2-heading {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 50px;
  font-family: 'Roboto Slab', serif;
}
