html {
  box-sizing: border-box;
}

body {
  font-family: "Volkorn", sans-serif;
  font-size: 22px;
  line-height: 28px;
  position: relative;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body, p, ul, li, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.main {
  display: block;
}

.h2-heading {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 90px;
}

.h2-heading::before {
  content: "";
  width: 100px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: -140px;
  background-color: $color-blue;
}

.h2-heading::after {
  content: "";
  width: 100px;
  height: 3px;
  position: absolute;
  top: 50%;
  right: -140px;
  background-color: $color-blue;
}

img {
  max-width: 100%;
  height: auto;
}


@media (max-width: $tablet-width) {  
  body {
    font-size: 20px;
    line-height: 26px;
  }
  
  .h2-heading {
    margin-bottom: 60px;    
  }
}

@media (max-width: $small-tablet-width) {
  .h2-heading {
    margin-bottom: 50px;    
  }
  
  .h2-heading::before {
    display: none;
  }

  .h2-heading::after {
    display: none;
  }
}


@media (max-width: $mobile-width) {
  .h2-heading {
    margin-bottom: 40px;
    font-size: 36px;    
  }
}
