//ЦВЕТА

$color-primary: #43CBFF;  
$color-blue: #0987e2;
$color-light-blue: #add6f0;
$color-white: #fff;
$color-red: #f1364b;
$color-red-dark: #be2333;



//РАЗМЕРЫ
$header-height: 60px;
$section-mb: 170px;
$section-mb-small: 100px;
$section-padding: 5%;


//ДЕКОРАЦИИ

$text-shadow: 0 2px 10px rgba(0, 0, 0, .6);

//РАЗРЕШЕНИЯ

$tablet-width: 1350px;
$small-tablet-width: 1024px;
$mobile-width: 600px;
